Missing `k=` should default to "rsa" in DKIM TXT record

Variable `algorithm` in verify.go#686 should have default value `rsa` to follow the draft spec.

```
k=  Key type (plain-text; OPTIONAL, default is "rsa").  Signers and
Verifiers MUST support the "rsa" key type.  The "rsa" key type
indicates that an ASN.1 DER-encoded [ITU-X660-1997] RSAPublicKey
(see [RFC8017], Sections 3.1 and A.1.1) is being used in the "p="
tag.  (Note: the "p=" tag further encodes the value using the
base64 algorithm.)  In addition Signers and Verifiers SHOULD
support the "ed25519" key type (See [RFC8463]).  The p= value in
the key record is the Ed25519 public key encoded in base64.
Unrecognized key types MUST be ignored.
```